<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>IdoGolanSignUpPage</title>
</head>
<body>
    <div style="color: blue; padding: 2px; border: 2px;" >
        <h1>sign up</h1>
    </div>
    <span style="color: blue"; padding: 2px; border: 2px></span>

    <form action="www.IdoGolanOffice.com" method="post">
        <form>
    <div>
        <label for="First name">First name</label><br>
        <input type="text" id="First name" name ="First name" required><br>
    </div>

    <div>
        <label for="Last name">Last name</label><br>
        <input type="text" id="Last name" name ="Last name" required><br>
    </div>
<div>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" required><br>
</div>
<div>
    <label for="address">Address</label><br>
    <input type="address" id="address" name="address" required><br>
</div>
<div>
    <label for="PhoneNumber">Phone Number</label><br>
    <input type="PhoneNumber" id="PhoneNumber" name="PhoneNumber" required><br>
</div>
<div>
    <label for="BirthDate">Birth Date</label><br>
    <form method="POST">
    <input type="date"  name="date" autocomplete="off" max="2020-01-01"><br>
</div>
<div>
    <label for="Reasoמforrequest">Reason for request</label><br>
    <textarea name="Hello" id="Hello" cols="30" rows="10"></textarea>
</div>

        <input type="checkbox" id="agree" name="agree"> 
        <label for="agree"></label> I agree</label><br>
        

    <input type="submit" value="Submit"><br><br>
</form> 
    <a href="file:///C:/Users/Ido%20Golan/Documents/WEB/IdoGolan/template/FirstPage.HTML">Back to Home Page</a><br>

   <img src="../static/form.jpg" alt="FormPicture"><br>


</body>
</html>