<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IdoGolanOfficeMainPage</title>
</head>
<body>
 
     <div style="color: blue; padding: 2px; border: 2px;" >
        <h1>Ido Golan Office</h1>
    </div>
    <label for="FirstText">Hello, Welcome to my Website</label><br><br> 
        <li> <a href="file:///C:/Users/Ido%20Golan/Documents/WEB/IdoGolan/template/ContactPage.HTML">Contact us</a><br>

    <img src="../static/office.jpg" alt="OfficePicture"><br>
 

</body>
</html>